html{
  background-color: black;
  color: white;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topnav{
  background-color: black;
  border: 3px solid white;
  width: auto;
  margin: 2%;
  overflow: hidden;
}

#svg-logo{
  padding: 1%;
  width: 13%
}

/* Style the links inside the navigation bar */
#topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#topnav a.active {
  background-color: #04AA6D;
  color: white;
}

#content{
  text-align: center;
  padding: 1%;
  width: auto;
  height: auto;
  border: 3px solid white;
}

#footer{
  border: 3px solid white;
  text-align: center;
  margin: 1%;
}

/* Box */

.row {
  display: flex;
  margin: 1%;
}

.column {
  flex: 33.33%;
  padding: 15px;
  border: 3px solid white;
}